.parkImg{
width: 70%;
margin: 0 auto;
height: 150px;
border-radius: 5px;

}

.parksContainer {
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}


/*.individualPark {
    background-color:#D8EBB5;
  margin: 0 auto;
  border: 5px solid #639A67;
  border-radius: 15px;
  width: 90%;
}*/


.repeatingParks {
  margin: 0 auto;
  border: 2px solid #639A67;
  background-color:#D8EBB5;
  border-radius: 15px;
  width: 100%;
  padding: 5px;
}

.parksDiv  {
 color: #639A67;
 width: 100%;
 margin: 0 auto;
 background-color: white;
 margin: 5px;
}

#searchPark {
  width: 35%;
  border-radius: 5px;
}

#parkButton {
  background-color: white;
  text-transform: uppercase;
  /*color: white;*/
  border-radius: 5px;
}

.individualPark a {
  color: white;
}

@media screen and (min-width: 600px){
  .parkImg{
  height: 200px;
  }

@media screen and (min-width: 768px){
  .parkImg{
  height: 260px;
  }

  @media screen and (min-width: 1200px){
    .parkImg{
    height: 350px;
    }
