/*css for the parks page with all the parks*/

/*Outside container*/
.parksContainer {
  width: 100%;
  border-radius: 2px;
  margin: 0 auto;
  text-align: center;
  /*background-color: #D8EBB5*/
}

/*Back and Next Buttons*/
.pagination {
  background-color: white;
  color: #205D67;
  margin-bottom: 15px;
  margin-top: 5px;

}

/*Back and Next Buttons hover*/
.pagination:hover {
  background-color: #D9BF77;
}

/*Container for the directive ngshow - this is what is set up with the grid*/
.repeatingParks {
  margin: 0 auto;
  border: 1px solid #999;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 90%;
  background-color: white;
  padding: 5px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr .1fr .fr;
    grid-template-areas:
        "parkName1"
        "parkImg"
        "parkDescrip"
        "parkState"
        "buttonMoreInfo";
}

/*park header*/
.parkName1 {
  grid-area:parkName1;
  font-size: 120%;
  color:#205D67;
  font-family: 'Assistant', sans-serif;
  padding-bottom: 12px;
}

/*Park Image*/
.parkImg {
  grid-area:parkImg;
  width: 80%;
  margin: 0 auto;
  height: 150px;
  border-radius: 5px;
  padding: 1px;
  /*box-shadow: 0 0 25px #205D67;*/
}
/*Park description*/
.parkDescrip {
  grid-area:parkDescrip;
  font-size: 90%;
    font-family: 'Assistant', sans-serif;
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 5px;
}
/*park State*/
.parkState {
  grid-area:parkState;
    color:#639A67;
    font-weight: bold;
        font-family: 'Assistant', sans-serif;
    font-size: 85%;
    padding-bottom: 5px;
}

/*button more info div*/
.buttonMoreInfo {
  grid-area:buttonMoreInfo;
}

/*More info button styling*/
#parkButton {
  background-color: #205D67;
  color: white;
  /*text-transform: uppercase;*/
}

/*Button hover*/
#parkButton:hover{
    background-color: #D9BF77;
}

/*Anchor within the button styling*/
.moreInfoAnchor {
  color: white;
}

.moreInfoAnchor:visited {
  color: white;
}

/*Individual Park Page CSS-----------------------------*/

/*Entire container*/
.parkWrapper{
  background-color: #639A67;
  border-radius: 5px;
}

/*define grid - setting up the grid */
.specParkContainer {
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
    display: grid;
    grid-gap: 2px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr .1fr .4fr .3fr .4fr .3fr .3fr .1fr;
    grid-template-areas:
        "parkEmpty1 parkEmpty1"
        "parkButton1 parkButton2"
        "parkConfirm1 parkConfirm2"
        "parkHeader parkHeader"
        "parkImage parkImage"
        "parkAddress parkContact"
        "parkDescription parkDescription"
        "parkCost parkCost"
        "parkOther parkOther"
        "parkEmpty2 parkEmpty2";
}

/*Would like to get rid of this if possible - empty div*/
.parkEmpty1 {
  grid-area: parkEmpty1;
  /*background-color: #639A67;*/
  width: 100%;
  height: 30px;
}

.parkEmpty2 {
  grid-area: parkEmpty2;
  /*background-color: #639A67;*/
  width: 100%;
  height: 30px;

}

.parkConfirm1 {
  grid-area: parkConfirm1;
  font-size: 60%;
  position: absolute;
    background-color: white;
    border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #999;
  padding: 5px;
  font-family: 'Assistant', sans-serif;
  top: 50%;
      color: #205D67;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

.parkConfirm2 {
  grid-area: parkConfirm2;
  font-size: 60%;
  font-family: 'Assistant', sans-serif;
  border: 1px solid #999;
  background-color: blue;
  border-radius: 5px;
  background-color: white;
    padding: 5px;
    color: #205D67;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.parkButton1 {
  grid-area: parkButton1;
  margin: 0 auto;

}

body{
  position: relative;
}

.parkButton1 button {
  background-color: #205D67;
  color: white;

}

.parkButton1 button:hover{
      background-color: #D9BF77;
}

.parkButton2 button:hover{
      background-color: #D9BF77;
}

.parkButton2 {
  grid-area: parkButton2;
margin: 0 auto;
}
.parkButton2 button {
  background-color: #205D67;
  color: white;

  text-align: center;

}

.parkHeader {
    grid-area: parkHeader;
    /*padding: 10px;*/
    border-bottom: 1px solid #999;
    font-family: 'Assistant', sans-serif;
    font-size: 34px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: -12px;
    color:#205D67;
    /*height: 20px;*/

}

.parkImage {
    grid-area: parkImage;
    width: 70%;
    margin: 0 auto;
    max-height: 240px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.specParkImg {
  width: 100%;
  max-height: 220px;

}

/*.parkImage p {
  text-align: center;
}*/

.parkAddress {
    grid-area: parkAddress;
  border: 2px black;
    padding-left: 10px;
      padding-right: 10px;

}

.parkAddress h5 {
  text-align: center;
  margin: 0;
    margin-bottom: 10px;
    color: #205D67;
    font-size: 130%;

}

.parkAddress p {
margin: 0;
font-size: 90%;
}

.parkContact {
    grid-area: parkContact;
    background-color: ;
      border-left: 1px solid #999;
      padding-left: 10px;

}
.parkContact p {
    font-size: 90%;
    margin: 0;
    margin-bottom: 5px;
}

.parkContact h5 {
  text-align: center;
  margin: 0;
    margin-bottom: 10px;
      color: #205D67;
      font-size: 130%;
}



.parkDescription {
    grid-area: parkDescription;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px;

}

.parkDescription h5 {
  text-align: center;
  margin: 0;
    margin-bottom: 10px;
    color: #205D67;
    font-size: 130%;
}

.parkDescription p {
  font-size: 90%;
  margin: 0;
  margin-bottom: 5px;
}

.parkCost {
    grid-area: parkCost;
    font-size: 90%;
    border-top: 1px solid #999;
    padding: 10px;

}
.parkOther {
    grid-area: parkOther;
    border: 2px black;
    font-size: 90%;
      border-top: 1px solid #999;
      padding: 10px;


}


@media screen and (min-width: 768px){
/*Repeating parks page styling at 768*/
.parksContainer {
  border-radius: 2px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "repeatingParks repeatingParks";
}
.repeatingParks {
    margin-top: 10px;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr .1fr .fr;
    grid-template-areas:
        "parkName1"
        "parkImg"
        "parkDescrip"
        "parkState"
        "buttonMoreInfo";
}

.parkImage {
    grid-area: parkImage;
    width: 80%;
    margin: 0 auto;
    max-height: 260px;
  }

  .pagination {
  width: 20%;
  margin: 0 auto;

  }

  /*Back and Next Buttons hover*/
  .pagination:hover {
    background-color: #D9BF77;
  }

/*Individual park page styling at 768*/
  .specParkContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .2fr .001fr .1fr .1fr .3fr .3fr .3fr .1fr;
      grid-template-areas:
          "parkEmpty1 parkEmpty1"
          "parkButton1 parkButton2"
          "parkConfirm1 parkConfirm2"
          "parkHeader parkHeader"
          "parkImage parkDescription"
          "parkAddress parkContact"
          "parkCost parkOther "
          "parkEmpty2 parkEmpty2";
  }

  .parkConfirm1 {
    font-size: 90%;
  }

  .parkConfirm2 {
    font-size: 90%;
  }

    .parkButton1 button {
      height: 25px;
      width: 130%;
      font-size: 80%;
    }
    .parkButton2 button {
        height: 25px;
        width: 110%;
          font-size: 80%;
}

.parkHeader {
    grid-area: parkHeader;
    border-bottom: 1px solid #999;
    font-size: 38px;
}

.parkImage {
    width: 80%;
    margin: 0 auto;
    max-height: 250px;
}

.specParkImg {
  max-height: 250px;
}

.parkAddress h5 {
    font-size: 145%;
}

.parkAddress p {
margin: 0;
font-size: 100%;
}

.parkContact {
    grid-area: parkContact;
    background-color: ;
      border-left: 1px solid #999;
      padding-left: 10px;
}
.parkContact p {
    font-size: 100%;
}

.parkContact h5 {
      font-size: 150%;
}

.parkDescription h5 {
    font-size: 150%;
}

.parkDescription p {
  font-size: 100%;
  width: 80%;
}

.parkCost {
    font-size: 100%;

}
.parkOther {
    font-size: 100%;

}

.parkEmpty1{
    height: 30px;
}
.parkEmpty2{
    height: 30px;
}

}

  @media screen and (min-width: 1200px){
    .parkImg{
    height: 350px;
    }

    .specParkContainer {
      /*define grid*/
      background-color: white;
      margin: 0 auto;
      border-radius: 5px;

        display: grid;
        grid-gap: 2px;
        width: 90%;
        /*assign columns - define how many coluns you want in the grid 1fr=1column, 1fr 1fr = 2 columns, can change column width to px or percentages, auto fixes the column width*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr .05fr .1fr .1fr .3fr .3fr .4fr .3fr .3fr .1fr;
        grid-template-areas:
            "parkEmpty1 parkEmpty1"
            "parkButton1 parkButton2"
            "parkConfirm1 parkConfirm2"
            "parkHeader parkHeader"
            "parkImage parkImage"
            "parkAddress parkContact"
            "parkDescription parkDescription"
            "parkCost parkCost"
            "parkOther parkOther"
            "parkEmpty2 parkEmpty2";

    }

    /*.parkEmpty1 {
      grid-area: parkEmpty1;
    }
    .parkEmpty2 {
      grid-area: parkEmpty2;
    }*/

    .parkConfirm1 {
      font-size: 60%;
    }

    .parkConfirm2 {
      font-size: 60%;
    }

    .parkButton1 {
      grid-area: parkButton1;
      margin: 0 auto;
    }

    .parkButton1 button {
      height: 60px;
      width: 130%;
      font-size: 120%;
    }

    .parkButton2 {
      grid-area: parkButton2;
    margin: 0 auto;
    }
    .parkButton2 button {
        height: 60px;
        width: 110%;
          font-size: 120%;

    }

    .parkHeader {
        grid-area: parkHeader;
        /*padding: 10px;*/
        border-bottom: 1px solid #999;
        font-family: 'Assistant', sans-serif;
        text-shadow: 2px 2px 4px #205D67;
        font-size: 50px;
        text-align: center;
        /*height: 20px;*/

    }

    .parkImage {
        grid-area: parkImage;
        width: 90%;
        margin: 0 auto;
    }

    .specParkImg {
      width: 90%;
    }

    .parkImage p {
      text-align: center;
    }

    .parkAddress {
        grid-area: parkAddress;
      border: 2px black;
        padding-left: 10px;
          padding-right: 10px;

    }

    .parkAddress h5 {
      text-align: center;
      margin: 0;
        margin-bottom: 10px;
        color: #205D67;
        font-size: 150%;

    }

    .parkAddress p {
    margin: 0;
    font-size: 90%;
    }

    .parkContact {
        grid-area: parkContact;
        background-color: ;
          border-left: 1px solid #999;
          padding-left: 10px;

    }
    .parkContact p {
        font-size: 65%;
        margin: 0;
        margin-bottom: 5px;
    }

    .parkContact h5 {
      text-align: center;
      margin: 0;
        margin-bottom: 10px;
          color: #205D67;
          font-size: 100%;
    }



    .parkDescription {
        grid-area: parkDescription;
        border-top: 1px solid #999;
        padding: 10px;

    }

    .parkDescription h5 {
      text-align: center;
      margin: 0;
        margin-bottom: 10px;
        color: #205D67;
    }

    .parkDescription p {
      font-size: 65%;
      margin: 0;
      margin-bottom: 5px;
    }

    .parkCost {
        grid-area: parkCost;
        border-top: 1px solid #999;



    }
    .parkOther {
        grid-area: parkOther;
        border: 2px black;
          border-top: 1px solid #999;


    }
