/*//css for the parks page*/

.parkImg{
width: 70%;
margin: 0 auto;
height: 150px;
border-radius: 5px;

}

.parksContainer {
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}


/*.individualPark {
    background-color:#D8EBB5;
  margin: 0 auto;
  border: 5px solid #639A67;
  border-radius: 15px;
  width: 90%;
}*/


.repeatingParks {
  margin: 0 auto;
  border: 2px solid #639A67;
  background-color:#D8EBB5;
  border-radius: 15px;
  width: 100%;
  padding: 5px;
}

.parksDiv  {
 color: #639A67;
 width: 100%;
 margin: 0 auto;
 background-color: white;
 margin: 5px;
}

#searchPark {
  width: 35%;
  border-radius: 5px;
}

#parkButton {
  background-color: white;
  text-transform: uppercase;
  /*color: white;*/
  border-radius: 5px;
}

.individualPark a {
  color: white;
}

/*Individual Park Page CSS*/

.parkWrapper{
  background-color: #639A67;
  border-radius: 5px;
}
.specParkContainer {
  /*define grid*/
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;

    display: grid;
    grid-gap: 2px;
    width: 90%;
    /*assign columns - define how many coluns you want in the grid 1fr=1column, 1fr 1fr = 2 columns, can change column width to px or percentages, auto fixes the column width*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr .02fr .1fr .1fr .4fr .3fr .4fr .3fr .3fr .1fr;
    grid-template-areas:
        "parkEmpty1 parkEmpty1"
        "parkButton1 parkButton2"
        "parkConfirm1 parkConfirm2"
        "parkHeader parkHeader"
        "parkImage parkImage"
        "parkAddress parkContact"
        "parkDescription parkDescription"
        "parkCost parkCost"
        "parkOther parkOther"
        "parkEmpty2 parkEmpty2";

}

.parkEmpty1 {
  grid-area: parkEmpty1;
  background-color: #639A67;
  width: 100%;
  height: 20px;

}

.parkEmpty2 {
  grid-area: parkEmpty2;
  background-color: #639A67;
  width: 100%;
  height: 20px;

}

.parkConfirm1 {
  grid-area: parkConfirm1;
  font-size: 60%;
  padding: 5px;
  text-align: center
}

.parkConfirm2 {
  grid-area: parkConfirm2;
  font-size: 60%;
    padding: 5px;
    text-align: center;
}
.parkButton1 {
  grid-area: parkButton1;
  margin: 0 auto;
}

.parkButton1 button {
  background-color: #205D67;
  color: white;
  text-transform: uppercase;

}

.parkButton2 {
  grid-area: parkButton2;
margin: 0 auto;
}
.parkButton2 button {
  background-color: #205D67;
  color: white;
  text-transform: uppercase;
  text-align: center;

}

.parkHeader {
    grid-area: parkHeader;
    /*padding: 10px;*/
    border-bottom: 1px solid #999;
    font-family: 'Assistant', sans-serif;
    text-shadow: 2px 2px 4px white;
    font-size: 34px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: -12px;
    color:#205D67;
    /*height: 20px;*/

}

.parkImage {
    grid-area: parkImage;
    width: 80%;
    margin: 0 auto;
    max-height: 240px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.specParkImg {
  width: 100%;
  max-height: 250px;
  box-shadow: 0 0 25px #205D67;
}

/*.parkImage p {
  text-align: center;
}*/

.parkAddress {
    grid-area: parkAddress;
  border: 2px black;
    padding-left: 10px;
      padding-right: 10px;

}

.parkAddress h5 {
  text-align: center;
  margin: 0;
    margin-bottom: 10px;
    color: #205D67;
    font-size: 130%;

}

.parkAddress p {
margin: 0;
font-size: 90%;
}

.parkContact {
    grid-area: parkContact;
    background-color: ;
      border-left: 1px solid #999;
      padding-left: 10px;

}
.parkContact p {
    font-size: 90%;
    margin: 0;
    margin-bottom: 5px;
}

.parkContact h5 {
  text-align: center;
  margin: 0;
    margin-bottom: 10px;
      color: #205D67;
      font-size: 130%;
}



.parkDescription {
    grid-area: parkDescription;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px;

}

.parkDescription h5 {
  text-align: center;
  margin: 0;
    margin-bottom: 10px;
    color: #205D67;
    font-size: 130%;
}

.parkDescription p {
  font-size: 90%;
  margin: 0;
  margin-bottom: 5px;
}

.parkCost {
    grid-area: parkCost;
    font-size: 90%;
    border-top: 1px solid #999;
    padding: 10px;

}
.parkOther {
    grid-area: parkOther;
    border: 2px black;
    font-size: 90%;
      border-top: 1px solid #999;
      padding: 10px;


}


@media screen and (min-width: 768px){
  /*.parkImg{
  height: 260px;
  }*/

  .specParkContainer {
    /*define grid*/
      /*assign columns - define how many coluns you want in the grid 1fr=1column, 1fr 1fr = 2 columns, can change column width to px or percentages, auto fixes the column width*/
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .2fr .001fr .1fr .1fr .3fr .3fr .3fr .1fr;
      grid-template-areas:
          "parkEmpty1 parkEmpty1"
          "parkButton1 parkButton2"
          "parkConfirm1 parkConfirm2"
          "parkHeader parkHeader"
          "parkImage parkDescription"
          "parkAddress parkContact"
          "parkCost parkOther "
          "parkEmpty2 parkEmpty2";

  }

  .parkConfirm1 {
    /*grid-area: parkConfirm1;*/
    font-size: 90%;
    /*padding: 5px;
    text-align: center*/
  }

  .parkConfirm2 {
    /*grid-area: parkConfirm2;*/
    font-size: 90%;
      /*padding: 5px;
      text-align: center;*/
  }


    .parkButton1 button {
      height: 40px;
      width: 130%;
      font-size: 120%;
    }
    .parkButton2 button {
        height: 40px;
        width: 110%;
          font-size: 120%;

}

.parkHeader {
    grid-area: parkHeader;
    border-bottom: 1px solid #999;
    font-size: 38px;


}

.parkImage {
    width: 80%;
    margin: 0 auto;
    max-height: 250px;

}

.specParkImg {
  max-height: 250px;
}

/*.parkAddress {
    grid-area: parkAddress;
  border: 2px black;
    padding-left: 10px;
      padding-right: 10px;

}*/

.parkAddress h5 {
  /*text-align: center;
  margin: 0;
    margin-bottom: 10px;
    color: #205D67;*/
    font-size: 145%;

}

.parkAddress p {
margin: 0;
font-size: 100%;
}

.parkContact {
    grid-area: parkContact;
    background-color: ;
      border-left: 1px solid #999;
      padding-left: 10px;

}
.parkContact p {
    font-size: 100%;
    /*margin: 0;
    margin-bottom: 5px;*/
}

.parkContact h5 {
  /*text-align: center;
  margin: 0;
    margin-bottom: 10px;
      color: #205D67;*/
      font-size: 150%;
}


/*
.parkDescription {
    grid-area: parkDescription;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px;

}*/

.parkDescription h5 {
  /*text-align: center;
  margin: 0;
    margin-bottom: 10px;
    color: #205D67;*/
    font-size: 150%;
}

.parkDescription p {
  font-size: 100%;
  /*margin: 0;
  margin-bottom: 5px;*/
}

.parkCost {
    /*grid-area: parkCost;*/
    font-size: 100%;
    /*border-top: 1px solid #999;
    padding: 10px;*/

}
.parkOther {
    /*grid-area: parkOther;
    border: 2px black;*/
    font-size: 100%;
      /*border-top: 1px solid #999;
      padding: 10px;*/


}

}

  @media screen and (min-width: 1200px){
    .parkImg{
    height: 350px;
    }

    .specParkContainer {
      /*define grid*/
      background-color: white;
      margin: 0 auto;
      border-radius: 5px;

        display: grid;
        grid-gap: 2px;
        width: 90%;
        /*assign columns - define how many coluns you want in the grid 1fr=1column, 1fr 1fr = 2 columns, can change column width to px or percentages, auto fixes the column width*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr .05fr .1fr .1fr .3fr .3fr .4fr .3fr .3fr .1fr;
        grid-template-areas:
            "parkEmpty1 parkEmpty1"
            "parkButton1 parkButton2"
            "parkConfirm1 parkConfirm2"
            "parkHeader parkHeader"
            "parkImage parkImage"
            "parkAddress parkContact"
            "parkDescription parkDescription"
            "parkCost parkCost"
            "parkOther parkOther"
            "parkEmpty2 parkEmpty2";

    }

    /*.parkEmpty1 {
      grid-area: parkEmpty1;

    }

    .parkEmpty2 {
      grid-area: parkEmpty2;

    }*/

    .parkConfirm1 {
      font-size: 60%;
    }

    .parkConfirm2 {
      font-size: 60%;
    }

    .parkButton1 {
      grid-area: parkButton1;
      margin: 0 auto;
    }

    .parkButton1 button {
      height: 60px;
      width: 130%;
      font-size: 120%;
    }

    .parkButton2 {
      grid-area: parkButton2;
    margin: 0 auto;
    }
    .parkButton2 button {
        height: 60px;
        width: 110%;
          font-size: 120%;

    }

    .parkHeader {
        grid-area: parkHeader;
        /*padding: 10px;*/
        border-bottom: 1px solid #999;
        font-family: 'Assistant', sans-serif;
        text-shadow: 2px 2px 4px #205D67;
        font-size: 50px;
        text-align: center;
        /*height: 20px;*/

    }

    .parkImage {
        grid-area: parkImage;
        width: 90%;
        margin: 0 auto;
    }

    .specParkImg {
      width: 90%;
    }

    .parkImage p {
      text-align: center;
    }

    .parkAddress {
        grid-area: parkAddress;
      border: 2px black;
        padding-left: 10px;
          padding-right: 10px;

    }

    .parkAddress h5 {
      text-align: center;
      margin: 0;
        margin-bottom: 10px;
        color: #205D67;
        font-size: 150%;

    }

    .parkAddress p {
    margin: 0;
    font-size: 90%;
    }

    .parkContact {
        grid-area: parkContact;
        background-color: ;
          border-left: 1px solid #999;
          padding-left: 10px;

    }
    .parkContact p {
        font-size: 65%;
        margin: 0;
        margin-bottom: 5px;
    }

    .parkContact h5 {
      text-align: center;
      margin: 0;
        margin-bottom: 10px;
          color: #205D67;
          font-size: 100%;
    }



    .parkDescription {
        grid-area: parkDescription;
        border-top: 1px solid #999;
        padding: 10px;

    }

    .parkDescription h5 {
      text-align: center;
      margin: 0;
        margin-bottom: 10px;
        color: #205D67;
    }

    .parkDescription p {
      font-size: 65%;
      margin: 0;
      margin-bottom: 5px;
    }

    .parkCost {
        grid-area: parkCost;
        border-top: 1px solid #999;



    }
    .parkOther {
        grid-area: parkOther;
        border: 2px black;
          border-top: 1px solid #999;


    }
