.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .3fr 1fr 1fr 1fr;
  grid-template-areas:
  "coverImg"
  "profPic"
  "about"
  "visited"
  "saved"
}
.coverImg {
  grid-area: coverImg;
  background-image:url('../images/slideshow/image04.jpg');
  background-size: contain;
}

.EW {
  border-radius: 50%;
  width: 45%;
  margin-top: -80px;
  border: 3px solid white;
}


/*.nav {
  grid-area: nav;
}*/

.profPic {
  grid-area: profPic;
  text-align: center;
}

.about {
  /*background-color: aqua;*/
  grid-area: about;
}

.visited {
  background-color: salmon;
}

.saved {
  background-color: hotpink;
}

.profileImg{
  width: 100%;
}

h5 {
  font-size: 25px;
  color: azure;
  text-align: center;
  font-family: 'Kaushan Script',cursive;
  margin: 0 auto;
  margin-top: 10px;
  text-shadow: -2px 2px 2px #666;
}

p {
  font-size: 14px;
  padding: 5px;
}
/*anything larger than this many pixles will be displayed as this style*/
/*TABLET*/
@media screen and (min-width: 768px){
  .wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    " coverImg "
    " profPic about "
    " visited visited "
    " saved saved "
  }
}

@media screen and (min-width: 1200px){
  .grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "profPic about"
      "visited saved"
    }

  .about {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .profPic{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .visited{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .saved {
    grid-row: 3 / 2;
    grid-column: 1 / 2;
  }
}

/*
.profileImgCont {
  float: left;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 20px;
}

.profileText {
  float: right;
  margin-right: 50%;
  border-left: 5px solid;
  padding-left: 5px;
  border-color: #A8E4B1;
}

.break {
  clear: both;
  height: 30px;
}

.container {
  width: 90%;
  margin: 0 auto;
}
