/*grid-area: (name of div) assigns the div to the grid area*/

body {
  position: relative;
}

.popover {
  background-color: floralwhite;
  border-radius: 5px;
  position: absolute;
  width: 300px;
  top: 70%;
  border: 1px solid #205D67;
  font-family: 'Assistant', sans-serif;
  font-size: 26px;
  color:   #205D67;
  text-align: center;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%)

}
.profileCont {
  display: grid;
  /*define grid*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .1fr .1fr .3fr .05fr .05fr .05fr .3fr .3fr .3fr;
  grid-template-areas:
    "profileHeader profileHeader"
    "coverPhoto coverPhoto"
    "profilePic profilePic"
    "userName userName"
    "userInfo userInfo"
    "spacer spacer"
    "about about"
    "visited visited"
    "saved saved";
}

.coverPhoto {
  grid-area: coverPhoto;
  text-align: center;
  background-image: url(../images/grandcanyon3.png);
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
  height: 300px;
}

.coverPhotoImg {
  width: 88%;
  border-radius: 1%;
}

/*profilePic div */
.profilePic {
  grid-area: profilePic;
  width: 100%;
  margin-top: -100px;
  text-align: center;
}

/*acutal profile picture*/
.profPic {
  max-height: 180px;
  margin-left: 5px;
  border: solid white 5px;
  border-radius: 50%;
}

.visitedParkImgProf {
  width: 20%;
  /*height: 80px;*/
  vertical-align: top;
  display: inline-block;
}

.deleteButton {
  display: inline-block;
  background-color:#205D67;
  color: white;
  border: 0px;
  margin-left: 5px;
  font-size: 10px;
  width: 20px;
}
.parkText {
  display: inline-block;
  font-family: 'Assistant', sans-serif;
  font-size: 22px;
  vertical-align: top;
}

.addedParks {
  margin: 5px;
  text-align: center;

}
/*users name*/
.userName {
  grid-area: userName;
  font-family: 'Assistant', sans-serif;
  font-size: 26px;
  text-align: center;
  color: #639A67;
  font-weight: bolder;
  padding: 5px;
}

.userInfo {
  grid-area: userInfo;
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  color: #000;
  /*margin-bottom: 10px;*/
}

.spacer {
  grid-area: spacer;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
  width: 100px;
}

/*'My Passport' header*/
.profileHeader {
  grid-area: profileHeader;
  margin: 20px;
}

/*About the user div*/
.about {
  grid-area: about;
  padding: 5px;

}

.visited{
  grid-area: visited;
}

.saved {
  grid-area: saved;
}

.aboutUser {
  font-size: 15px;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

.header {
  font-size: 40px;
  text-align: center;
  font-family: 'Lora';
  color: #205D67;
}

.title {
  color: #205D67;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  margin-bottom: 5px;
  font-family: 'Lora', serif;
}

@media screen and (min-width: 768px){
  .profileCont {
    display: grid;
    /*define grid*/
    grid-gap: 3px;
    grid-template-columns: .2fr 1fr 1fr .2fr;
    grid-template-rows: .1fr .1fr .1fr .1fr .1fr .1fr .6fr;
    grid-template-areas:
      " . profileHeader profileHeader  ."
      " coverPhoto coverPhoto coverPhoto coverPhoto "
      " . profilePic profilePic ."
      " . userName userName ."
          " . about about ."
      " userInfo userInfo userInfo userInfo"
      " visited visited saved saved ";
}
.coverPhoto {
    grid-area: coverPhoto;
}
.coverPhotoImg {
    width: 88%;
    border-radius: 1%;
}

.rightBar {
  grid-area: rightBar;
  background-color: salmon;
}
.visited {
  grid-area: visited;
  border-right: 1px solid #999;
}

.profPic {
  max-height: 240px;

}
.saved {
  grid-area: saved;
}

.profileHeader {
  grid-area: profileHeader;
  text-align: left;
}

.profilePic {
  grid-area: profilePic;
    margin-top: -105px;
}

.userName {
  grid-area: userName;
}

.userInfo {
  grid-area: userInfo;
}

.spacer {
  grid-area: spacer;
  display: none;
}

.about {
  grid-area: about;
}

.aboutUser {
  text-align: left;
  text-indent: 25px;
  font-size: 22px;
  padding-left: 10px;
}

.visitedParkImgProf {
  width: 33%;
  margin: 10px;

}

.deleteButton {
  font-size: 15px;
  width: 30px;
}

.parkText {
  /*width: 40%;*/
  font-size:20px
}
}

@media screen and (min-width: 1000px){
  .coverPhoto {
      grid-area: coverPhoto;
  }

  .profilePic {
    max-height: 260px;
    margin-top: -105px;
  }
  .title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px){
  .coverPhoto {
      grid-area: coverPhoto;
      text-align: center;
  }
  .coverPhotoImg {
    width: 88%;
    border-radius: 1%;
  }

  .title {
    font-size: 35px;
  }
}
