.profileCont {
  /*define grid*/
  display: grid;
  border: 10px solid #639A67;
  border-radius: 8%;
  /*assign columns - define how many coluns you want in the grid 1fr=1column, 1fr 1fr = 2 columns, can change column width to px or percentages, auto fixes the column width*/
  grid-template-columns: 1fr .7fr;
  /*1fr is one fractional unit of available space
  .5 is 1/2 fractional unit of available space*/
  grid-template-rows: 1fr .5fr .5fr .5fr 1fr 1fr;
  /*grid gap is set to 5px, it is the space between each grid area*/
  grid-gap: 5px;
  grid-template-areas:
    "coverImg coverImg"
    "profilePic userName"
    "about about"
    "userFrom userAge"
    "visited visited"
    "saved saved"
}

.coverImg {
  background-image: url("../images/slideshow/image03.jpeg");
  background-size: cover;
  width: 100%;
  border-radius: 7%;
  grid-area: coverImg;
  text-align: center;
}

.profilePic {
  grid-area: profilePic;
  width: 90%;
  border-radius: 5%;
}

.profPic {
  max-width: 100%;
  max-height: 150px;
  border-radius: 5%;
  margin: 0 auto;
  margin-top: -30px;
}

.userName {
  grid-area: userName;
  font-size: 15px;
  color: white;
  margin-top: -50px;
  margin-left: -10px;
  color: white;
}

.about {
  grid-area: about;
}

.userFrom {
  grid-area: userFrom;
}

.userAge {
  grid-area: userAge;
}

.visited{
  grid-area: visited;
}

.saved {
  grid-area: saved;
}

p {
  font-size: 10px;
  text-align: center;
}

.title {
  color: #205D67;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
}
