<div class='grid'>
    <div class="jumbo crossfade">
        <h3>National Parks Passport</h3>

    </div>


    <div class="cont-one">
<!--        <p class="contTitle">Choose a State to Start Exploring</p>-->

        <!-- us map -->
        <div id="map"></div>
        <!-- <div id="allParks"><a href="!#/parks">Click for more Parks</a>
    </div> -->
    </div>

    <!-- <a href="/#!/specPark">More Info</a> -->

    <div class="cont-two">
    <div class="contTitle">Favorite Parks</div>
    <p class="newsDate">Based on User Votes</p>
    <ul>
        <li>Yosemite (CA)</li>
        <li>Acadia (MA)</li>
        <li>Channel Islands (CA)</li>
        <li>Pinnacles (CA)</li>
        <li>Grand Canyon (AZ)</li>
    </ul>
    
    <div class="contTitle">Did you Know?</div>
    <ul>
        <li><p>In the National Park System, there are 407 sites covering more than 84 million acres of land.</p></li>
        <li><p>In 2014, more than 290 million people visited the National Parks.</p></li>

        <li><p>The Appalachian Trail is a 2,185 mile long public footpath that traverses the scenic, wooded, pastoral, wild, and culturally resonant lands of the Appalachian Mountains.</p></li>

    </ul>

    </div>

    <div class="cont-three">
        <p class="contTitle">Park News</p>
        <div ng-repeat="news in newNews">
            <div class="news"><a href={{news.url}}>{{news.title}}</a></div>
            <div class="newsDate">{{ news.releaseDate }}</div>
            <div>{{news.abstract | limitTo: 60}}...</div>
            <p></p>
        </div>
        <div class="moreEvents"><a href="https://www.nps.gov/aboutus/news/news-releases.htm">More Events</a><br><img src="../images/downarrow.png"></div>
    </div>

    <div class="cont-four">
        <p class="contTitle">Upcoming Events</p>
        <div ng-repeat="events in newEvents">
            <div class="news"><a href={{events.url}}>{{ events.title }}</a></div>
            <div class="eventsDate">{{ events.location }}</div>
            <div class="abstract">{{events.abstract | limitTo: 60}}...</div>
        </div>
        <div class="moreEvents"><a href="https://www.nps.gov/aboutus/news/news-releases.htm">More Events</a><br><img src="../images/downarrow.png"></div>
    </div>



    <div class="cont-five"><div class="contFiveDiv">
    <img src="../images/archesSmall.jpg" width="75%">
    </div>

    </div>
    
    
    
    <div class="cont-six">

        <!--    {{ newAlerts[3].location }}-->

        <div class="tickerDiv"><span id="ticker" /></div>

    </div>

    <div class="footer">
       <div class="footerTitle">National Parks Passport</div><hr>
        <div>Home</div>
        <div>My Passport</div>
        <div>Parks</div>
        <div>Contact</div>
        
    </div>
</div>
