<!-- Large container set as the same class of grid on the home page - styled as one -->
<div class='grid'>
    <div class="jumbo">
        <h3>National Parks Passport</h3>
    </div>

    <!--Each portion of the grid named with a 'cont'  -->
    <div class="cont-one">
        <div class="pickState">Choose a State<br>to Start Exploring!</div>

        <!-- us map -->

        <!-- JQuery calling id of map - getting it from the usmap.js jquery library - placing the image in this div -->
        <div class="mapDiv">
            <div id="map"></div>
        </div>

    </div>

    <div class="cont-two">

        <div class="contTitle">Did you Know?</div>

                <p class="facts">In the National Park System, there are 407 sites covering more than 84 million acres of land.</p>

                <p class="facts">In 2014, more than 290 million people visited the National Parks.</p>

                <p class="facts">The Appalachian Trail is a 2,185 mile long public footpath that traverses the scenic, wooded, pastoral, wild, and culturally resonant lands of the Appalachian Mountains.</p>

                <p class="facts">Visitors were once encourage to watch bears eat out of dumpsters.</p>
    </div>


    <!--newNews is accessing this information from the homeController - which is getting this info from a service call - limit is set to 80 characters - abstract is the text of the article - newNews is the array and news is the new object-->
    <div class="cont-three">
        <p class="contTitle">Park News</p>
        <div class="expandNews" ng-repeat="news in newNews">
            <div class="news"><a href={{news.url}}>{{news.title}}</a></div>
            <div class="newsDate">{{ news.releaseDate }}</div>
            <div>{{news.abstract | limitTo: 500}}</div>
            <p></p>
        </div>
        <p></p>
        <div class="moreEventsNews">
<!--            <a href="https://www.nps.gov/aboutus/news/news-releases.htm"><img src="../images/downarrowSVG02.svg" width="16px"></a></div>-->
            <img src="../images/downarrowSVG02.svg" width="16px"></div>
    </div>

    <!-- Practice explaining these prior to technical -->
    <div class="cont-four">
        <p class="contTitle">Featured Events</p>
        <div class="expand" ng-repeat="events in newEvents">
            <div class="news"><a href={{events.url}}>{{ events.title }}</a></div>
            <div class="eventsDate">{{ events.location }}</div>
            <div class="abstract">{{events.abstract | limitTo: 500}}</div>
            <p></p>
        </div>
        <div class="moreEvents">
<!--            <a href="https://www.nps.gov/planyourvisit/event-search.htm"><img src="../images/downarrowSVG02.svg" width="16px"></a></div>-->
   
            <img src="../images/downarrowSVG02.svg" width="16px"></div>
    </div>
    



    <div class="cont-five">
        <div class="contFiveDiv">
           <!-- the image below is set to 0px because it was throwing off the layout when deleted. maybe fix this -->
            <img src="../images/archesSmall.jpg" width="0px">
        </div>

    </div>

    <!-- div for the ticker - alerts fade in and out - on the homeController - span to make it inline -->
    <div class="cont-six">
        <div class="tickerDiv"><span id="ticker" /></div>

    </div>

    <!--Footer  hr is a horizontal rule - it's a line-->
    <div class="footer">

        <div class="footerTitle">National Parks Passport</div>
        <hr>
        <div class="info">National Parks Passport is a group project created by Stephanie McIlroy, Emily Webber &amp Jonathon Krause at Grand Circus in Detroit, MI. 2007</div>
        <div class="footLinks">
        <div><a href="/#!/home">Home</a></div>
        <div><a href="/#!/profile">My Passport</a></div>
        <div><a href="/#!/parks">Parks</a></div>
        </div>
    </div>

    <!-- Dropdown for the mobile view  will be displayed as flex to get the button inline with the dropdown-->
    <form class="dropDown" ng-submit="filterState(state)">
        <div class="dropDownOptions" >

            <select class="dropThing" ng-model="state">
                <option value="" disabled selected>Select a State to Search</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Ohklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <button class="dropBtn" type="submit" name="button" style="width: 25%;">Submit</button>

        </div>
    </form>
</div>
