<!--

<div class="grid">

    <div class="one">one</div>
    <div class="two">two</div>
    <div class="three">three</div>
    <div class="four">four</div>
    <div class="five">five</div>

</div>-->


<div ng-repeat="news in newNews">{

<p>{{news.title}}</p>

</div>

<div class='grid'>
    <div class="jumbo">
        <h3>Very National</h3>
        <h4>Much Park</h4>
    </div>
    <div class="cont-one">cont-one</div>
    <div class="cont-two">cont-two</div>
    <div class="footer">footer</div>
</div>
