

<div class="parksDiv">



<input type='text' ng-model='searchName' placeholder="Park Name">
<input type='text' ng-model='searchNumber' placeholder="Phone Number">
<!-- <ul> -->
    <!-- <li ng-repeat="info in newInfo.data.data | orderBy: 'states'">{{ info.name }}</li>
    </ul> -->

  <div class="parksInfo" ng-repeat="park in newParks | filter: searchName | orderBy:state">

    <p>Name: {{ park.name}}</p>

    <!-- <p>Description: {{ info.description }}</p>
    <p>Weather: {{info.weatherInfo}}</p> -->
    <!-- <img src="{{info.images[0]}}" alt=""> -->
    <!-- <p>Phone Number: {{ info[11] }}</p>
    <p>Location:{{info[35]}}</p> -->

  <img class="parkImg" ng-src="{{park.images[1].url}}" alt="">
    <!-- <img ng-src="{{info[0].images[0].url}}" alt=""> -->
