
<div class="wrapper">
  <div class="coverImg">  
  </div>
  <div class="profPic">
    <img class="profileImg" src="http://via.placeholder.com/450x150" alt="">
  </div>
  <div class="about">
    <h5>About</h5>
    <p>Name: John/Jane Smith</p>
    <p>HomeTown: Anywhere, USA</p>
    <p>Other: Lorem ipsum dolor sit amet<p>
  </div>
  <div class="visited">
    <h5>Visited Parks</h5>
  </div>
  <div class="saved">
    <h5>To Visit</h5>
  </div>
</div>





<!-- <div class="container">

  <div class="container1">
    <p>Profile</p>
    <div class="profileImgCont">

      <img class="profileImgCont" src="http://via.placeholder.com/250x180" alt="">
    </div>
    <div class="profileText">
      <p>Name:</p>
      <p>Hometown:</p>
      <p>Other:</p>
    </div>
  </div>


//Break between top profile and bottom parks page//

<div class="break">

</div>

  <div class="category">
    <h3>Saved Parks</h3>

  </div>
  <div class="category">
    <h3>Visited Parks</h3>
  </div>
</div> -->
