<!-- Directive templateUrl that is used on parks.html - it is the html that is used and the directive is called ng-show -->

<!-- This is the code from the parks page:
  <div class="repeatingParks" ng-repeat="park in pagArray"> -->

  <h4 class="parkName1">{{park.name}}</h4>
  <img class="parkImg" src="https://surfnbeachscenemagazine.files.wordpress.com/2016/08/national-park-service-logo-on-yellowstone.jpg?w=437&h=328" ng-src="{{park.images[0].url}}" alt="">
  <p class="parkDescrip">{{park.description}}</p>
  <p class="parkState">State: {{park.states}}</p>

<div class="buttonMoreInfo">


  <button id="parkButton" type="button" name="button" ng-click="submitPark(park)"><a class="moreInfoAnchor" href="/#!/specPark">More Info</a></button>
</div>
