
<!-- //set overall individual park container - this is set to white to achive an app look/ -->
<div class="parkWrapper">

  <!-- //set park grid called specParkContainer// -->
  <div class="specParkContainer">


<!-- div class for the first button, button linked to two function: favoritePark to transfer to the profile page and showVisited that will display the confirmation message, both functions go to the parksReturnController - this will be the same for the second park button

First function on the button sends info to the profile page and second function on the button is the popup -->
    <div class="parkButton1">
      <button type="button" name="button" ng-click="visitedPark(newPark);beenHere()">Been Here</button>
    </div>

<!-- second park button div - same functionality as the first button -->

    <div class="parkButton2">
      <button type="button" name="button" ng-click="wantToVisit(newPark);wantVisit();">Want to Visit</button>
    </div>

<!-- confirmation record div - hidden until the button is clicked - tied to the button functionality -->
    <div class="parkConfirm1" ng-show="beenHereDiv">
      <p>You have added {{newPark.name}} to your profile!</p>
    </div>


<!-- confirmation record div - hidden until the button is clicked - tied to the button functionality -->
    <div class="parkConfirm2" ng-show="wantVisitDiv">
      <p>You have added {{newPark.name}} to your profile!</p>
    </div>


<!-- Park header -->
    <h4 class="parkHeader">{{newPark.name}}</h4>


<!-- Park image div - image set to the second park photo in the array  - loads placeholder before it loads image-->
    <div class="parkImage">
      <img class="specParkImg" src="https://surfnbeachscenemagazine.files.wordpress.com/2016/08/national-park-service-logo-on-yellowstone.jpg?w=437&h=328" ng-src="{{newPark.images[0].url}}" alt="">
    </div>

<!-- Address Div -->
    <div class="parkAddress">
      <h5>Address</h5>
      <p>{{newPark.addresses[0].line1}}</p>
      <p>{{newPark.addresses[0].city}}, {{newPark.addresses[0].stateCode}} {{newPark.addresses[0].postalCode}}</p>
      <p></p>
      <p>{{newPark.latLong}}</p>
    </div>

<!-- Contact Div -->
    <div class="parkContact">
      <h5>Contact</h5>
      <p>Email Address: {{newPark.contacts.emailAddresses[0].emailAddress}}</p>
      <p>Phone: {{newPark.contacts.phoneNumbers[0].phoneNumber}}</p>

    </div>

<!-- Description div -->
    <div class="parkDescription">
      <h5>Park Description</h5>
      <p>{{newPark.description}}</p>
    </div>


<!-- Cost Div -->
    <div class="parkCost">

       <h5>Cost</h5> <p>The cost is ${{newPark.entranceFees[0].cost}}.<p>

      <p>{{newPark.entranceFees[0].description}}</p>
       <!-- <p>Cost2: {{newPark.entranceFees[1].cost}}</p> -->

      <!-- <p>Cost3: {{newPark.entranceFees[2].cost}}</p>
      <p>{{newPark.entranceFees[2].description}}</p>
      <p>Cost4: {{newPark.entranceFees[3].cost}}</p>
      <! <p>{{newPark.entranceFees[3].description}}</p> -->
    </div>

<!-- Other info div -->
    <div class="parkOther">
      <h5>Operating Hours</h5>
      <p>{{newPark.operatingHours[0].description}}</p>

      <!-- <p>Weather info: {{newPark.weatherInfo}}</p> -->
    </div>

    <div class="parkWeather">
      <h5>Weather Info</h5>
      <p>{{newPark.weatherInfo}}</p>
    </div>


  </div>
</div>
